{% extends "base.html" %}


{% block title %} About | Leeladhar Rao {% endblock %}

{% block body %}

<div id="container" class="clearfix">
    <div id="main" class="clearfix">
        <div id="content" class="clearfix">
            <div class="post post-about">

            <header id="pageHead">
                <h1 class="post-title">About</h1>
            </header>

            <article class="post-content">
                <p>Hi, I&rsquo;m Jess. I build things that surprise and delight people, and I use data to make the world a better place. I want to work for a company that does those things too.</p>
                
                <p>By trade I am a software developer. I build awesome webapps and have done a bit of data science work too. Along the way I&rsquo;ve picked up enough related tech to handle the full stack: frontend, backend, devops, database administration, and even a touch of design.</p>
                
                <p>My current weapon of choice is Python, but I believe in using the best tool for the job. If you are someone who enjoys long lists of keywords, here are a few that I&rsquo;ve worked with most recently: Python, Django, Pytest, ES6, JQuery, Backbone, Underscore, Cordova, Git, Linux, Puppet, Ansible, Vagrant, Postgres. In the past I&rsquo;ve also worked in the Java, .NET, and PHP ecosystems, but I won&rsquo;t swamp you with all of those keywords too.</p>
                
                <p>Also, I have a snazzy bachelor&rsquo;s degree in Computer Science from the University of California at Berkeley, and enjoy opportunities for continued education.</p>
                
                <p>I&rsquo;ve built apps for tracking habits and mood, a book discovery service for readers, data-crunching SaaS tools for internet marketers, a hosting dashboard, open source Django apps, Stripe payment integration, and a bunch of odds and ends. You can see some of the highlights in my <a href="programmer-portfolio.html">portfolio</a>.</p>
                
                <p>Now I&rsquo;m ready to move on to my next big thing.</p>
                
                <p>That big thing is a full-time position with a company that moves quickly and has lean / agile in it&rsquo;s DNA. It is working with a highly-collaborative, smart team. Broadly speaking, I am interested in alternative energy, quantified self, home automation, and developer tools. But there are intensely interesting problems in every industry, and if you are solving them, I would love to hear about it.</p>
                
                <p>At the moment I&rsquo;m in Eugene, OR, in the United States. I have a solid history of working successfully on remote teams, and strongly prefer remote positions.</p>
                
                <p>If you think we could build amazing things together, let&rsquo;s chat: <a href="mailto:jess@grokcode.com">jess@grokcode.com</a>.</p>
                
            </article>

        </div>

    </div>
</div>

{% endblock %}
