{% extends "base.html" %}


{% block title %} About | Leeladhar Rao {% endblock %}

{% block body %}

<div id="container" class="clearfix">
	<div id="main" class="clearfix">
		<div id="content" class="clearfix">
			<div class="post post-about">

				<header id="pageHead">
					<h1 class="post-title">About</h1>
				</header>

				<article class="post-content">
					<p>Hey, I'm Leela! I'm a software engineer from India, and I use data to make the world a better
						place.
						This is my place on the web that I've created to show the world.</p>
					<p>My current weapon of choice is Python, but I believe in using the best tool for the job. If you enjoy long
						lists of keywords, here are a few that I've worked with most recently: Python, Java, Flask, Cucumber
						,Linux. In the past, I've also worked with HTML, CSS, PHP ecosystems, sorry I
						won't swamp you with more keywords.</p>
					<p>If you too love programming or just want to talk about nerdy things, you can contact me by email
						at
						<strong>kompallyleeladhar@gmail.com</strong>. I always appreciate meeting new people.
					</p><br>

					<h3 id="hobbies" style="position:relative;">Hobbies.</h3>
					<p>There's a whole world out there outside of tech, but coding is my favorite
						hobby. I am pretty much open-minded towards all things, you can talk to me about anything and everything.
						I love cooking, playing and watching football and l love motorsports.</p>
					<p>I like strategy and indie video games. Science, science fiction, animation stuff, Pokemon's,
						modern engineering technology interests me, and I love binge-watching web content.</p>

				</article>

			</div>

		</div>
	</div>

	{% endblock %}