{% extends "base.html" %}


{% block title %} Portfolio | Leeladhar Rao {% endblock %}

{% block body %}

<div id="main" class="clearfix">
	<div id="content" class="clearfix">
		<div class="post post-portfolio">
			<header id="pageHead">
				<h1 class="post-title">Programming Portfolio</h1>
			</header>

			<article class="post-content">
				<h2 id="retailbanking">Retail Banking </h2>
				<ul class="skillList">
					<li>Flask</li>
					<li>Python</li>
					<li>MySQL</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
					<li>Bootstrap</li>
				</ul>
				<div><img src="/static/images/rb1.png" alt="RetailBanking" class="left img-noborder"></div>
				<p><strong>When:</strong> 2020</p>
				<p><strong>Contribution:</strong> Full Stack Development</p>
				<p><strong>Description:</strong> Retail-Banking is a web application which serves individual customers,
					to manage their savings and current accounts. This system has the ability to create customer, open customer
					account, update and delete customer, manage cashier transactions such as deposit, withdraw and transfer.
					Also, through this application the users are able to view customer and account information and get account
					transaction information.</p>
				<p>Retail banking was developed on Flask Framework 
					and uses MySql for its database. It is hosted and run on the heroku server. </p>

				<h2 id="emailspamdetector">Email Spam Detector</h2>
				<ul class="skillList">
					<li>Python</li>
					<li>Scikit-learn</li>
					<li>Machine Learning</li>
					<li>Git</li>
				</ul>
				<p><strong>When:</strong> 2019</p>
				<p><strong>Contribution:</strong> Solo Developer</p>
				<p><strong>Description:</strong> Email Spam detector is a fundamental machine learning program program,
					that identifies and separate span emails from a dataset of email. This program uses the Naive Bayes classifier
					Algorithm for sorting of emails. This code was written as a Midterm project for a graduate level MI class.
				</p>

				<h2 id="meenusgallery">Meenu's Gallery</h2>

				<ul class="skillList">
					<li>Flask</li>
					<li>Python</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
					<li>Bootstrap</li>
				</ul>
				<div><img src="/static/images/mep1.png" alt="MeenusGallery" class="left img-noborder">
					<p><strong>When:</strong> 2019</p>
					<p><strong>Contribution:</strong> Web Designer, Front-End Development</p>
					<p><strong>Description:</strong> Author Alcove is a book discovery service. &ldquo;Even if your best friend
						was a book critic he couldn&rsquo;t give you recommendations this good.&rdquo;</p>
					<p>Book and author data is pulled in via an API. The site uses a variation of the item-item algorithm which
						was shown to have the best performance on this dataset. A few of the smaller details that make the web
						application shine are a full site search powered by Solr, infinite scroll, a streamlined account creation
						process, and a delightfully simple UI.</p>

					<p>Stats tracking, conversion analysis, and lifecycle emails have been built into the project from the outset.
					</p>


					<h2 id="objectfollowerbot">Object Follower Bot using IR Compound Eye</h2>

					<ul class="skillList">
						<li>C++</li>
						<li>Arduino</li>
						<li></li>
						<li></li>
					</ul>

					<div><img src="/static/images/of1.png" alt="ObjectFollowerBot" width="362" height="211" class="left"></div>

					<p><strong>When:</strong> 2018</p>

					<p><strong>Contribution:</strong> Writer, Theme Porter</p>

					<p><strong>Description:</strong> GrokCode has been alive in one form or another since 2007. It was previously
						the home of the GrokCode Development Shop and blog, but now that I have moved away from consulting, it
						serves as an archive of articles on software development. It is a space for publishing tutorials, long form
						articles, and opinion pieces covering the various facets of building things on the internet.</p>

					<p>GrokCode is a Jekyll static site running on GitHub pages, with comments provided by Staticman.</p>

					<p><strong>More info:</strong> You&rsquo;re already here, but you can look at the <a
							href="grokcode.html">GrokCode homepage</a> or find out more <a href="about.html">about me</a>.</p>


					<h2 id="odds-n-ends">Odds &amp; Ends</h2>

					<p><strong>Discord Bots:</strong> </p>

					<p><strong>Joke generator:</strong> The joke generator is seeded with knowledge about different nouns and
						modifiers,
						then uses that vocabulary to make jokes. All of the jokes are of the form: &ldquo;What do you get when you
						cross X with Y?&rdquo;
						you get when you cross a port with Frosted Flakes?</p>

					This code was written as a Midterm project for a graduate level MI class.

					<p><a href="https://github.com/LeeladharRao">Even more odds &amp; ends on GitHub</a></p>

			</article>

		</div>
	</div>
</div>
</div>

{% endblock %}